// 1. Global color
// ---------
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

// нужно для миксина, цветовые примеси
$color-stack: (group: orange, id: normal, color: #e67835), (group: orange, id: pale, color: #f8a878), (group: orange, id: dark, color: #ad490c), (group: blue, id: normal, color: #426682);


// 2. Global
// ---------
$global-font-size: 16px;
$global-width: 1200px;
$global-lineheight: 1.5;
$body-font-color: $black;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 16px;
$global-padding: 16px;
$global-position: 16px;
$global-weight-normal: normal;
$global-weight-bold: bold;

// 3. Title
// ---------
